/******************************************
/* CSS
/*******************************************/
.hidden{
  display:none;
}
/* Box Model Hack */
*{
  box-sizing: border-box;
}
body{
  background-color: maroon;
}

/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* header
/*******************************************/
h1{
  font-size: 60px;
  font: bold;
  color: #D4AF37;
  text-align: center;
}
span{
  color: #D4AF37;
}
/******************************************
/* main section
/*******************************************/
.bar{
  margin: 0 auto;
  height:100%;
  width:inherit;
  border: 2px solid black;
}

main{
  position:relative;
  width:100vw;
  height:50vh;
  margin:50px 0;
  border:2px solid black;
}
.container{
  height:inherit;
  width:100vw;
  display:flex;
  position:absolute;
  flex-flow:row nowrap;
  justify-content: space-between;
  overflow:hidden;

  border:2px solid pink;

}

/******************************************
/* menu to trigger event
/*******************************************/
.click{
  position: absolute;
  width:150px;
  height:100px;
}

.menu{
  width:inherit;
  border:3px solid red;
  transform:2;
}


/******************************************
/* buttons for carouel
/*******************************************/
.nav{
  position:absolute;
  margin:auto;
  font-size: 22px;
  font-weight:700;
  margin-top:-20px;
  background-color: goldenrod;
  
}
.left{
  height:50px;
  width:50px;
  left:48.5%;
  border-radius: 50%;
}
.right{
  height:50px;
  width:50px;
  left:58%;
  border-radius: 50%;
}
.exit{
  height:50px;
  width:55px;
  left:53%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/******************************************
/* customer input section/drinks event
/*******************************************/
.server{
  display:flex;
  height:270px;
  width:200px;
  flex-flow:column wrap;
  justify-content:space-around;;
  position:absolute;
  top:10%;
  left:15%;
}
h2{
  font-size: 20px;
  font: bold;
  color: #D4AF37;
  text-align: center;
}
input{
  background-color: rgba(246, 240, 240, 0.951);
}
.enter{
  background-color: #D4AF37;
  border:2px solid maroon
}

.carosel{
  height:240px;
  width:205x;
  position:absolute;
  top:22%;
  left:45.5%;
}
.drinkDetail{
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subDetail{
  color: #D4AF37;
  height:200px;
  width:300px;
  position:absolute;
  top:25%;
  left:75%;
}
h3{
  text-decoration: underline;
}
@media all and (max-width: 1300px) {
  .left{
    height:50px;
    width:50px;
    left:45.5%;
    border-radius: 50%;
  }
  .right{
    height:50px;
    width:50px;
    left:60.5%;
    border-radius: 50%;
  }
  .exit{
    height:50px;
    width:55px;
    left:53%;
  }
  .server{
    display:flex;
    height:240px;
    width:200px;
    flex-flow:column wrap;
    justify-content:space-around;;
    position:absolute;
    top:3%;
    left:11.2%;
  }
  .carosel{
    height:200px;
    width:150px;
    position:absolute;
    top:22%;
    left:45.5%;
  }
  .subDetail{
    font-size:8px;
    color: #D4AF37;
    height:200px;
    width:300px;
    position:absolute;
    top:20%;
    left:71%;
  }
}